In [1]:
import pandas as pd
import numpy as np 
import os

In [2]:
status = pd.read_csv('files/missing_from_disc.csv')

In [3]:
status = status[['user number', 'user number shipped on disk']]

In [5]:
failed = pd.read_csv("files/failed_to_sample.csv")

failed = failed.drop(columns = 'Unnamed: 0')
failed['user_number'] = failed.user.apply(lambda s: int(s[5:]))

In [6]:
failed.merge(status, left_on = 'user_number', right_on = 'user number')

,user,cause,user_number,user number,user number shipped on disk
0,user_11161,opening,11161,11161,True
1,user_13281,site_match,13281,13281,True
2,user_13332,site_match,13332,13332,True
3,user_13366,site_match,13366,13366,True
4,user_13383,site_match,13383,13383,True
5,user_13400,site_match,13400,13400,True
6,user_13451,site_match,13451,13451,True
7,user_16472,opening,16472,16472,True
8,user_16630,opening,16630,16630,True
9,user_16677,opening,16677,16677,True
10,user_21246,opening,21246,21246,True
11,user_22201,opening,22201,22201,True
12,user_22685,site_match,22685,22685,True
13,user_23549,site_match,23549,23549,True
14,user_24453,site_match,24453,24453,True